src/wsdl/192.168.207.116_8080/banca-web/transaccionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://transaccion.pojos.banca.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://transaccion.pojos.banca.com/">

<xs:element name="realizarTransaccion" type="tns:realizarTransaccion"/>

<xs:element name="realizarTransaccionResponse" type="tns:realizarTransaccionResponse"/>

<xs:complexType name="realizarTransaccion">
<xs:sequence>
<xs:element name="num_cuentaOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="cod_seguridadCO" type="xs:string" minOccurs="0"/>
<xs:element name="vigenciaCO" type="xs:string" minOccurs="0"/>
<xs:element name="num_cuentaDestino" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>